In [8]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
us_house_price = pd.read_csv("./Data/Median_House_Price_US.csv")

In [24]:
us_house_price = us_house_price.loc[(us_house_price['DATE']== '2007-01-01')| (us_house_price['DATE']== '2008-01-01')| (us_house_price['DATE']== '2009-01-01')|(us_house_price['DATE']== '2010-01-01')|(us_house_price['DATE']== '2011-01-01')|(us_house_price['DATE']== '2012-01-01')|(us_house_price['DATE']== '2013-01-01')|(us_house_price['DATE']== '2014-01-01')|(us_house_price['DATE']== '2015-01-01')|(us_house_price['DATE']== '2016-01-01')|(us_house_price['DATE']== '2017-01-01')|(us_house_price['DATE']== '2018-01-01')]
us_house_price.to_csv(r'us_house_price_data')

In [25]:
us_house_price

           DATE     MSPUS
176  2007-01-01  257400.0
180  2008-01-01  233900.0
184  2009-01-01  208400.0
188  2010-01-01  222900.0
192  2011-01-01  226900.0
196  2012-01-01  238400.0
200  2013-01-01  258400.0
204  2014-01-01  275200.0
208  2015-01-01  289200.0
212  2016-01-01  299800.0
216  2017-01-01  313100.0
220  2018-01-01  331800.0